@using Core

@model List<Post>

@section head
{
    <title>Andy's Blog</title>
}

@section sidebar
{
    <div class="header">
        <h1 class="page-title">Andy's Blog</h1>
        <h2 class="page-tagline">Gaming and coding in Manchester</h2>
    </div>
}

<div class="posts">
    @foreach (Post post in Model)
    {
        <section class="post">
            <header class="post-header">
                @if (post.Author != null)
                {
                    <img class="post-avatar" alt="@post.Author.Name" height="48" width="48" src="@post.Author.Image" />
                }
                <h2 class="post-title">
                    <a href="/posts/@post.Slug">@post.Title</a>
                </h2>
                <p class="post-meta">
                    @if (post.Author != null)
                    {
                        @: By <a class="post-author" href="/users/@post.Author.Slug">@post.Author.Name</a> - 
                    }

                    @post.PublishedTime.ToString()

                    @if (post.Tags.Any())
                    {
                        @: - 
                        foreach (Tag tag in post.Tags)
                        {
                             <a class="post-category" href="/tags/@tag.Name">@tag.Name</a>
                        }
                    }
                </p>
            </header>
            <div class="post-description">
                <p>@post.Content</p>
            </div>
        </section>
    }
</div>
<div class="footer">
    <div class="pure-menu pure-menu-horizontal">
        <ul>
            <li class="pure-menu-item">
                <a class="pure-menu-link" href="http://twitter.com/graan_jonlo/">Twitter</a>
            </li>
            <li class="pure-menu-item">
                <a class="pure-menu-link" href="http://github.com/GraanJonlo/grog/">Github</a>
            </li>
        </ul>
    </div>
</div>
